/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/11/2018, 15:42:37
    Author     : Gi
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: white;
    margin: 0;
    border: 0;
}

.header {
    padding: 10px;
    text-align: center;
    background: #0d8411;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #333;
    color: white;
}

.navbar {
    display: flex;
    align-content: right;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {  
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}  

.new_todo{
    display: flex; 
    flex-direction: column; 
    border-radius: 5px;
    padding: 2em;
    background: #ddd;
    margin: 3em;
}

.page { 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    padding: 5em;
}

.form { 
    display: flex; 
    flex-direction: column; 
    flex: 0 0 auto; 

    border-radius: 5px;
    padding: 2em;
    background: #ddd; 
}
form label, form button {
    margin-top: 15px;
}
form label {
    font-size: 20px;
}
form input, select {
    flex: 1 1 auto;
    font-size: 20px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    padding: 1em;
    font-size: 20px;
    color: white;
    background-color: #333;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
